<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tech Blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            {{#if loggedIn}}
            <li class="li-inline nav-item"><button id="logout-link">Logout</button></li>
            {{else}}
            <li class="li-inline nav-item"><a href="/login">login</a></li>
            {{/if}}
        </ul>
    </nav>
    <header class="top">
        <h1 class="tech"<a href="/">TECH BLOG</a></h1>
    </header>

    <main class="col-auto">
        {{{body}}}
        {{!-- {{{postdata}}} --}}
        
    </main>
    <footer class="flex-row justfiy-center">
        &copy;Your Tech Ideas Are Welcome here 
    </footer>
</body>
    
</html>

<script src="/js/logout.js"></script>