<article>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form" id="edit-post">
        <div>
            <input name="Post-title" type="text" size="55" value="{{post.title}}"/>
        </div>
        <div>
            <button type="sumbit">Save Post</button>
            <button type="button" class="delete-post-btn">Delete Post</button>
        </div>
    </form>
</article>

{{> comment post.comment}}

<form class="comment-form" id="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
         <button type="submit">Add Comment</button>
    </div>
</form>


<script src="/js/edit.js"></script>
{{!-- <script src="/js/"></script> --}}
<script src="/js/comment.js"></script>
