<h1>Log In</h1>
<form id="login" class="login"></form>
<div>
<label for="Username-data">username:</label>
<input type="text" id="Username-data"/>
</div>
<div>
    <label for="Password-data"></label>
    <input type="password" id="Password-data" />
</div>
<div>
    <button type="submit" class="btn" id="login">Log In</button>
    </div>
    <a href="/signup">Sign up instead.</a>
    </form>
    <script src="/public/js/login.js"></script>